<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>
    <%= @trip.name %>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= @trip.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @trip.date %>
  </p>

  <% if user_signed_in? && current_user == @trip.user || current_user.admin? %>
    <%= link_to 'Edit Trip', edit_trip_path(@trip) %> 
  <% end %> 
</div>

<table class="table table-hover">
  <tr>
	<th>Destination</th>
	<th>Description</th>
  <th>City</th>
  <th>State</th>
  <th>Country</th>
  <th>Visited</th>
  <th></th>
  </tr>

  <% @trip.destinations.each do |destination| %>
	<tr>
      <td><%= destination.name %></td>
      <td><%= destination.description %></td>
      <td><%= destination.city %></td>
      <td><%= destination.state %></td>
      <td><%= destination.country %></td>
      <td><% if destination.visited = false %>
        Not yet!
      <% elsif destination.visited = true %>
        Visited 
      <% end %>
      <td><%= link_to "show", trip_destination_path(destination.trip, destination) %></td>
      <% if user_signed_in? && current_user == destination.trip.user %> 
        <td><%= link_to "edit", edit_trip_destination_path(destination.trip, destination) %></td>
      <% end %> 
	</tr>
  <% end %>
</table>

<% if user_signed_in? && current_user == @trip.user %> 
  <button type="button" class="btn btn-default btn-block"><%= link_to 'Add Destination', new_trip_destination_path(@trip)%></button>
<% else %> 
  <button type="button" class="btn btn-default btn-block"><%= link_to "All Trips", trips_path %></button>
<% end %> 

