<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trip.date %>
</p>

<button type="button" class="btn btn-default btn-lg"><%= link_to 'Add Destination', create_trip_destination_path(@trip)%></button>

<%= link_to 'Edit Trip', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
