<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trip.date %>
</p>
<p><%= link_to 'Edit Trip', edit_trip_path(@trip) %> | <%= link_to 'Back', trips_path %></p>

<table class="table table-hover">
  <tr>
	<th>Destination</th>
	<th>Description</th>
  <th>City</th>
  <th>State</th>
  <th>Country</th>
  <th>Visited</th>
  <th></th>
  </tr>

  <% @trip.destinations.each do |destination| %>
	<tr>
      <td><%= destination.name %></td>
      <td><%= destination.description %></td>
      <td><%= destination.city %></td>
      <td><%= destination.state %></td>
      <td><%= destination.country %></td>
      <td><% if destination.visited = false %>
        Not yet!
      <% elsif destination.visited = true %>
        Visited 
      <% end %>
      <td><%= link_to "show", trip_destination_path(destination.trip, destination) %></td>
      <td><%= link_to "edit", edit_trip_destination_path(destination.trip, destination) %></td>
	</tr>
  <% end %>
</table>

<button type="button" class="btn btn-default btn-block"><%= link_to 'Add Destination', new_trip_destination_path(@trip)%></button>
<br>

