<p id="notice"><%= notice %></p>

<h1>Listing Destinations</h1>


<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Trip</th>
    <th>Description</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Visited</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.name %></td>
    <td><%= destination.trip %></td>
    <td><%= destination.description %></td>
    <td><%= destination.city %></td>
    <td><%= destination.state %></td>
    <td><%= destination.country %></td>
    <td><% if destination.visited = false %>
      Not yet!
    <% elsif destination.visited = true %>
      Visited
    <% end %></td>
    <td><%= link_to 'Show', destinations_path %></td>
    <td><%= link_to 'Edit', trips_path %></td>
    <td><%= link_to 'Delete', "/" %></td>
  </tr>
<% end %>
</table>

<br />

