<p id="notice"><%= notice %></p>

<div class="jumbotron"><h1>All Destinations</h1></div>


<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Trip</th>
    <th>Description</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Visited</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.name %></td>
    <td><%= link_to destination.trip.name, trip_path(destination.trip_id) %></td>
    <td><%= destination.description %></td>
    <td><%= destination.city %></td>
    <td><%= destination.state %></td>
    <td><%= destination.country %></td>
    <% if destination.visited = true %>
      <td><%= destination.trip.date %></td>
    <% else %>
      <td>Not yet!</td>
    <% end %>
    <td><%= link_to 'Show', trip_destination_path(destination.trip_id, destination) %></td>
    <% if user_signed_in? && current_user == destination.trip.user %> 
      <td><%= link_to 'Edit', edit_trip_destination_path(destination.trip_id, destination) %></td>
      <td><%= link_to 'Destroy', trip_destination_path(destination.trip_id, destination), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %> 

  </tr>
<% end %>
</table>

<br />

<button type="button" class="btn btn-default btn-block"><%= link_to 'New Trip', new_trip_path %></button>