<p id="notice"><%= notice %></p>

<h1>Listing Destinations</h1>


<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Trip</th>
    <th>Description</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Visited</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.name %></td>
    <td><%= link_to 'Trip', trip_path(destination.trip_id) %></td>
    <td><%= destination.description %></td>
    <td><%= destination.city %></td>
    <td><%= destination.state %></td>
    <td><%= destination.country %></td>
    <td><% if destination.visited = false %>
      Not yet!
    <% elsif destination.visited = true %>
      Visited
    <% end %></td>
    <td><%= link_to 'Show', trip_destination_path(destination.trip_id, destination) %></td>
    <td><%= link_to 'Edit', edit_trip_destination_path(destination.trip_id, destination) %></td>
    <td><%= link_to 'Destroy', trip_destination_path(destination.trip_id, destination), method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<button type="button" class="btn btn-default btn-block"><%= link_to 'Add Destination', trips_path %></button>