<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @destination.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @destination.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Visited?</strong>
  <% if @destination.visited = false %>
    Not yet!
  <% elsif @destination.visited = true %>
    Visited <%= @destination.trip.date %>
  <% end %>
</p>

<table class="table table-hover">
  <tr>
  <th>Activity</th>
  <th>Description</th>
  <th>Location</th>
  <th>Cost</th>
  <th>Date</th>
  <th></th>
  <th></th>
  </tr>
  
  <% @destination.activities.each do |activity| %>
  <tr>
      <td><%= activity.name %></td>
      <td><%= activity.description%></td>
      <td><%= activity.location %></td>
      <td><%= activity.cost %></td>
      <td><%= activity.date %></td>
      <td><%= link_to 'Show', destination_activity_path(activity.destination_id, activity) %></td>
      <td><%= link_to "edit", edit_destination_activity_path(activity.destination, activity) %></td>
  </tr>
  <% end %>
</table>
<button type="button" class="btn btn-default btn-block"><%= link_to 'Add Activity', new_destination_activity_path(@destination)%></button>

<br>
<%= link_to 'Edit', edit_trip_destination_path(@trip, @destination) %> |
<%= link_to 'Back', trip_path(@trip) %>
