<p id="notice"><%= notice %></p>

<h1>All Activities</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Trip</th>
      <th>Destination</th>
      <th>Description</th>
      <th>Location</th>
      <th>Cost</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to activity.destination.trip.name, trip_path(activity.destination.trip_id)%></td>
        <td><%= link_to activity.destination.name, destination_path(activity.destination_id) %></td>
        <td><%= activity.description %></td>
        <td><%= activity.location %></td>
        <td><%= activity.cost %></td>
        <td><%= activity.date %></td>
        <td><%= link_to 'Show', destination_activity_path(activity.destination_id, activity) %></td>
        <% if user_signed_in? && current_user == activity.destination.trip.user || current_user.try(:admin?) %> 
          <td><%= link_to 'Edit', edit_destination_activity_path(activity.destination_id, activity) %></td>
          <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default btn-block"><%= link_to 'New Trip', new_trip_path %></button>
